.notificationBarContainer {
  background-color: #e6f1e6;
  color: #292942;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}



.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {

  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.image {
  image-rendering: -webkit-optimize-contrast;
}


@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}


/*lista kappa*/

.infoCardContainer--listKappa {
  display: flex;
  height: 435px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  border-color: #e3e4e6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-position: 50%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  unicode-bidi: isolate;
  color: -webkit-link;
  cursor: pointer;
  font-size: 1rem;
}

.imageElement--listKappa {
  max-width: 100%;
  border-style: none;
  width: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.infoCardTextContainer--card-department {
 
display: none;

}

.infoCardTextContainer--card-department1 {
display: none;

}

.infoCardContainer--card-department {
  height: 435px;
    margin: 0 auto;
    padding: 0;
    max-width: 96%;
}





.imageElement--newsKappa {
  aspect-ratio: 1;
  max-width: 96%;
  position: relative;
  display: block;
  font-size: 0;
  line-height: 0;
  text-size-adjust: 100%;
  border: 0;
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  cursor: pointer;

}

.imageElement--newsKappa:hover {
  transform: scale(1.1);
  transition: 1s;
}



@media screen and (max-width: 769px) {
  .infoCardContainer--card-department {
    height: 200px;
    background-position: top;
    margin-top: 5%;
  }

  .infoCardImage--card-department {
    height: 200px;
        background-position: top;
        margin-top: 5%;
  }
}


