.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}


.heading--kappa-title{
    padding: 0 40px;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-family: Montserrat-Regular, arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    color: #0f0f0f;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-top: 5%;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
  }

  @media screen and (max-width: 768px) {
    .container--kappa-title .heading--kappa-title{
      font-size: 1rem;
      font-family: Montserrat-Regular, arial, sans-serif;
      font-weight: 400;
      text-transform: none;
      letter-spacing: 0;
      margin-top: 15%;
    }
  }


  .container--kappa-title1 .heading--kappa-title1{
    display: block;
    unicode-bidi: isolate;
    padding: 0 40px;
    justify-content: center;
    text-align: center;
    font-family: Montserrat-Regular, arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    color: #0f0f0f;
    margin-top: 10%;
  }

  @media screen and (max-width: 768px) {
    .container--kappa-title1 .heading--kappa-title1{
      font-size: 170%;
      font-family: Montserrat-Regular, arial, sans-serif;
      font-weight: 400;
      text-transform: none;
      letter-spacing: 0;
      margin-top: 20%;
    }
  }

  .container--kappa-title2 .heading--kappa-title2{
    display: block;
    unicode-bidi: isolate;
    justify-content: center;
    text-align: center;
    font-family: Montserrat-Regular, arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0;
    color: #0f0f0f;
  }

  @media screen and (max-width: 768px) {
    .container--kappa-title2 .heading--kappa-title2{
      font-size: 1.25rem;
      font-family: Montserrat-Regular, arial, sans-serif;
      font-weight: 400;
      text-transform: none;
      letter-spacing: 0;
      margin-top: 20%;
    }
  }